body {
    --bg-primary: hsl(300, 100%, 25%);
    --bg-secondary: hsl(293, 54%, 49%);
    --bg-tertiary: hsl(286, 100%, 73%);

    --bg-semi-opacity: hsla(300, 100%, 25%, .5);

    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/****************************************
ESTILOS DEL HEADER Y DEL TITULO PRINCIPAL
****************************************/

/* ESTILOS PARA LOS CONTENEDORES CON IMAGENES DE FONDO*/

.background-container {
    background: url('../img/img-1.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    position: relative;
    z-index: 0;
}

/* Estilos para el coloreado*/

.background-container::before {
    content: '';

    background: var(--bg-semi-opacity);
    height: 100%;
    width: 100%;
    z-index: -1;

    position: absolute;
    left: 0;
    top: 0;
}

.main-wrapper {
    padding-bottom: 12em;
}

.main-wrapper .content {
    margin: 0 auto;
    max-width: 1520px;
    width: 90%;
}

.main-wrapper svg {
    display: block;
    z-index: -1;

    position: absolute;
    bottom: 0;
    left: 0;
}

/* Estilos para la barra de navegacion*/

.main-wrapper header {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-wrapper header figure {
    margin: 0;
}

.main-wrapper header figure img {
    width: 15em;
}

.main-wrapper header nav ul {
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.main-wrapper header nav ul li a {
    color: white;
    font-weight: bold;
    font-size: .9em;
    padding: 1em;
    position: relative;
    text-decoration: none;
}

.main-wrapper header nav ul li a::before {
    content: '';

    background: white;
    height: 5px;
    transition: .3s all ease-out;
    width: 0;

    position: absolute;
    left: 50%;
    bottom: 0;
}

.main-wrapper header nav ul li a:hover::before,
.main-wrapper header nav ul li .active::before  {
    left: 0;
    width: 100%;
}

/* Estilos para el titulo principal*/

.main-wrapper h1 {
    color: hsla(0, 100%, 100%);
    font-family: 'Comfortaa', cursive;
    font-size: 4em;
    margin-top: 1.5em;
    width: 75%;
}


/****************************************
        CONTENIDO PRINCIPAL
****************************************/

/* Estilos de las secciones de texto */

.paragraph {
    line-height: 1.6;
    margin: 0 auto;
    margin-bottom: 5em;
    max-width: 37.5em;
    text-align: center;
    width: 90%;
}

.paragraph h2 {
    color: var(--bg-primary);
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;
    padding-bottom: .5em;
    position: relative;
}

.paragraph h2::after {
    content: '';

    background: var(--bg-secondary);
    height: 5px;
    width: 30%;

    position: absolute;
    bottom: 0;
    left: 35%;
}

.paragraph .highlight-text {
    color: var(--bg-primary);
    font-weight: bold;
}

.paragraph a {
    background: var(--bg-secondary);
    border-radius: 50px;
    display: inline-block;
    color: white;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: .5em 2em;
    text-decoration: none;
    transition: .2s all ease-out;
}

.paragraph a:hover {
    background: var(--bg-primary);
}

/* Elimina el margen inferior de la seccion de inscripcion */

.paragraph:last-child {
    margin-bottom: 0;
}

/* Estilos del titulo de la seccion de conoce a nuestros expertos */

.title-container {
    background-image: url('./../img/img-2.jpg');
    margin-bottom: 5em;
    overflow: auto;
}

.title-container h2 {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 2.5em;
    margin: 2em 0;
    padding: 2em 0;
    position: relative;
    text-align: center;
}

.title-container h2::before,
.title-container h2::after {
    content: '';

    background: white;
    height: 5px;
    width: 10%;

    position: absolute;
    bottom: 0;
    left: 45%;
}

.title-container h2::after {
    top: 0;
}

/* Estilos de las tarjetas de las frases de los instructores */

.experts .experts-cards,
.experts .meet-experts .videos,
.offers .prices-cards {
    margin: 0 auto 4em auto;
    width: 75%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.experts .experts-cards {
    justify-content: space-around;
}

.experts .expert-card {
    border-radius: 10px;
    box-shadow: 0 0 8px var(--bg-secondary);
    margin-bottom: 1em;
    max-width: 18.5em;
    padding: 1.5em 1em;
    position: relative;
    text-align: center;
    width: 90%;
}

.experts .expert-card p {
    font-family: 'Comfortaa', cursive;
}

.experts .expert-card figure img {
    border: 5px solid var(--bg-primary);
    border-radius: 50%;
    width: 6.25em;
}

.experts .expert-card figure h3 {
    color: var(--bg-primary);
    font-weight: bold;
    margin-bottom: .25em;
}

.experts .expert-card figure h4 {
    color: hsl(0, 0%, 13%);
    font-weight: normal;
    font-size: .85em;
    margin: 0;
}

.experts .expert-card .iconify {
    color: var(--bg-primary);
    font-size: 150px;
}

.experts .expert-card .iconify-quote {
    font-size: 60px;
}

.experts .expert-card .iconify-instrument {
    position: absolute;
    bottom: 0;
    left: -60px;
}

.experts .expert-card .iconify-guitar {
    left: calc(100% - 60px);
}

/* Estilos de la seccion de videos sobre los instructores*/

.experts .meet-experts h3 {
    color: var(--bg-primary);
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 2.5em;
    text-align: center;
}

.experts .meet-experts .videos {
    align-items: flex-start;
    flex-wrap: nowrap;
}

.experts .meet-experts .videos .video-container {
    margin-right: 1em;
    /* margin-bottom: 1em; */
    overflow: hidden;
    padding-top: 27.5%;
    position: relative;
    width: 100%;
}

.experts .meet-experts .videos .video-container iframe {
    border-radius: 10px;
    /* box-shadow: 0 0 4px hsla(0, 0%, 0%, .5); */
    height: 100%;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;
}

/* Estilos para la seccion de ofertas */

.offers .title-container {
    background-image: url('./../img/img-3.jpg');
}

.offers .prices-cards {
    justify-content: space-around;
}

.offers .price-card {
    border: 3px solid var(--bg-secondary);
    border-radius: 10px;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, .5);
    margin-bottom: 1em;
    max-width: 17.5em;
    text-align: center;
}

.offers .price-card .price-container {
    background: linear-gradient(180deg, var(--bg-primary), var(--bg-secondary));
    border-radius: 7px 7px 50% 50%;
    color: white;
    font-weight: bold;
    overflow: auto;
}

.offers .price-card .title {
    text-transform: uppercase;
}

.offers .price-card .original {
    font-size: .9em;
    text-decoration: line-through;
}

.offers .price-card .offer {
    font-size: 1.5em;
    margin-top: .5em;
}

.offers .price-card .description {
    color: hsl(0, 0%, 13%);
    font-weight: bold;
    line-height: 1.6;
    padding: 1em;
}

/* Estilos para el footer de la pagina */

.main-footer {
    background-image: url('../img/img-4.jpg');
    overflow: hidden;
}

.main-footer::before {
    background: hsla(0, 0%, 0%, .25);
}

.main-footer figure {
    margin: 0;
}

.main-footer .svg-background {
    display: block;
    max-height: 300px;
    transform: rotate(180deg);
    width: 100%;
    z-index: -1;

    position: absolute;
    top: 0;
    left: 0;
}

.main-footer .content {
    color: white;
    padding-top: 8em;
    text-align: center;
}

.main-footer figure img {
    width: 15em;
}

.main-footer .social-networks {
    margin-bottom: 2em;
}

.main-footer .iconify {
    background: white;
    border-radius: 50%;
    color: hsl(0, 0%, 13%);
    font-size: 1.75em;
    margin: 0 1em;
    transition: .2s all ease-out;
    padding: .25em;
}

.main-footer .iconify:hover {
    color: white;
}

.main-footer .iconify-instagram:hover {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.main-footer .iconify-facebook:hover {
    background: hsl(221, 44%, 40%);
}

.main-footer .iconify-youtube:hover {
    background: hsl(2, 64%, 47%);
}

/* Estilos para la seccion de copyright */

.main-footer .copyright {
    background: hsl(0, 0%, 13%);
    color: hsl(0, 0%, 75%);
    text-align: center;
    padding: 1em 0;
}