body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/****************************************
ESTILOS DEL HEADER Y DEL TITULO PRINCIPAL
****************************************/

/* ESTILOS PARA LOS CONTENEDORES CON IMAGENES DE FONDO*/

.background-container {
    background: url('../img/img-1.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    position: relative;
    z-index: 0;
}

/* Estilos para el coloreado*/

.background-container::before {
    content: '';

    background: hsla(300, 100%, 25%, .5);
    height: 100%;
    width: 100%;
    z-index: -1;

    position: absolute;
    left: 0;
    top: 0;
}

.main-wrapper {
    padding-bottom: 12em;
}

.main-wrapper .content {
    margin: 0 auto;
    max-width: 1520px;
    width: 90%;
}

.main-wrapper svg {
    display: block;
    z-index: -1;

    position: absolute;
    bottom: 0;
    left: 0;
}

/* Estilos para la barra de navegacion*/

.main-wrapper header {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-wrapper header figure {
    margin: 0;
    width: 15em;
}

.main-wrapper header figure img {
    width: 100%;
}

.main-wrapper header nav ul {
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.main-wrapper header nav ul li a {
    color: hsl(0, 100%, 100%);
    font-weight: bold;
    font-size: .9em;
    padding: 1em;
    position: relative;
    text-decoration: none;
}

.main-wrapper header nav ul li a::before {
    content: '';

    background: hsl(0, 100%, 100%);
    height: 5px;
    transition: .3s all ease-out;
    width: 0;

    position: absolute;
    left: 50%;
    bottom: 0;
}

.main-wrapper header nav ul li a:hover::before,
.main-wrapper header nav ul li .active::before  {
    left: 0;
    width: 100%;
}

/* Estilos para el titulo principal*/

.main-wrapper h1 {
    color: hsla(0, 100%, 100%);
    font-family: 'Comfortaa', cursive;
    font-size: 4em;
    margin-top: 1.5em;
    width: 75%;
}


/****************************************
        CONTENIDO PRINCIPAL
****************************************/

/* Estilos de las secciones de texto */

.paragraph {
    line-height: 1.6;
    margin: 0 auto;
    margin-bottom: 5em;
    max-width: 37.5em;
    text-align: center;
    width: 90%;
}

.paragraph h2 {
    color: hsl(300, 100%, 25%);
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;
    padding-bottom: .5em;
    position: relative;
}

.paragraph h2::after {
    content: '';

    background: hsl(293, 54%, 49%);
    height: 5px;
    width: 30%;

    position: absolute;
    bottom: 0;
    left: 35%;
}

.paragraph .highlight-text {
    color: hsl(300, 100%, 25%);
    font-weight: bold;
}

/* Estilos del titulo de la seccion de conoce a nuestros expertos */

.title-container {
    background-image: url('./../img/img-2.jpg');
    margin-bottom: 5em;
    overflow: auto;
}

.title-container h2 {
    color: hsl(0, 100%, 100%);
    font-family: 'Comfortaa', cursive;
    font-size: 2.5em;
    margin: 2em 0;
    padding: 2em 0;
    position: relative;
    text-align: center;
}

.title-container h2::before,
.title-container h2::after {
    content: '';

    background: hsl(0, 100%, 100%);
    height: 5px;
    width: 10%;

    position: absolute;
    bottom: 0;
    left: 45%;
}

.title-container h2::after {
    top: 0;
}

/* Estilos de las tarjetas de las frases de los instructores */

.experts .experts-cards,
.experts .meet-experts .videos {
    margin: 0 auto 5em auto;
    width: 75%;

    display: flex;
    justify-content: space-between;
}

.experts .experts-cards {
    justify-content: space-around;
}

.experts .expert-card {
    border-radius: 10px;
    box-shadow: 0 0 8px hsl(300, 100%, 25%);
    max-width: 18.5em;
    padding: 1.5em 1em;
    position: relative;
    text-align: center;
    width: 90%;
}

.experts .expert-card p {
    font-family: 'Comfortaa', cursive;
}

.experts .expert-card figure img {
    border: 5px solid hsl(300, 100%, 25%);
    border-radius: 50%;
    width: 6.25em;
}

.experts .expert-card figure h3 {
    color: hsl(300, 100%, 25%);
    font-weight: bold;
    margin-bottom: .25em;
}

.experts .expert-card figure h4 {
    color: hsl(0, 0%, 13%);
    font-weight: normal;
    font-size: .85em;
    margin: 0;
}

.experts .expert-card .iconify {
    color: hsl(300, 100%, 25%);
    font-size: 150px;
}

.experts .expert-card .iconify-quote {
    font-size: 60px;
}

.experts .expert-card .iconify-instrument {    
    position: absolute;
    bottom: 0;
    left: -60px;
}

.experts .expert-card .iconify-guitar {
    left: calc(100% - 60px);
}

/* Estilos de la seccion de videos sobre los instructores*/

.experts .meet-experts h3 {
    color: hsl(300, 100%, 25%);
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 2.5em;
    text-align: center;
}

.experts .meet-experts .videos {
    align-items: flex-start;
}

.experts .meet-experts .videos .video-container {
    margin-right: 1em;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}

.experts .meet-experts .videos .video-container iframe {
    border-radius: 10px;
    box-shadow: 0 0 4px hsla(0, 0%, 0%, .5);
    height: 100%;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;
}
